---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";

const endpoint = "https://thdoqgracksozeryynpr.supabase.co/rest/v1/Beer?select=*";

const options = {
  headers: {
    apikey: "DIN_ANON_KEY_HER",
  },
};

const response = await fetch(endpoint, options);
const products = await response.json();
---

<Layout title="Øl">
  <main>
    <h1>Øl</h1>

    <section class="product-list">
      <!-- {products.map((product) => (
        <Card product={product} />
      ))} -->
    </section>
  </main>
</Layout>

<style>
  main {
    padding: 2rem;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  @media (max-width: 800px) {
    .product-list {
      grid-template-columns: 1fr;
    }
  }
</style>