---
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
    const endpoint = "https://thdoqgracksozeryynpr.supabase.co/rest/v1/Beer";


const options ={
    headers:{
        apikey:"sb_publishable_lNBP-QLEhH4Xx-p9mOP2Aw_aaOQC20D", 
    },
}
  const response = await fetch(endpoint, options);
  const data = await response.json();


  return data.map((product) => {
    return {
      params: { id: product.id.toString() },
      props: { product },
    };
  });
}

const { id } = Astro.params;
const { product } = Astro.props;
---
<Layout>
<h1>{id}: {product.Title}</h1>
<img src={product.Image_Src} alt="mainimage">
</Layout>



 